article#girl
  h1
    text-align: center
    span
      margin-left: 20px
  section.nav
    margin-top: 0
    font-size: 12px
    text-align: center
  section.info
    @include row
    section.attribute
      margin-top: 40px
      margin-bottom: 40px
    section#photo
      @include span-columns(4)
      img
        width: 260px
        border-radius: 10px
    section#description
      @include span-columns(8)
      p
        margin-bottom: 30px

  section.users-votes
    width: 480px
    margin-top: 40px
    section.user
      @include row(table)
      margin-bottom: 30px
      section.photo
        @include span-columns(3, table)
        vertical-align: middle
        img
          border-radius: 10px
          height: 100px

      section.vote
        @include span-columns(9, table)
        background-color: #C5EEFC
        border-radius: 10px
        p
          padding: 10px
          margin: 0

  section.not-voted-users
    h3
      margin: 30px 0 30px 0

  p.back
    margin-top: 80px
    i
      font-size: 40px
      color: #008cba
      &:hover
        color: #007095
