%article#girls-index
  %section.nav
    = button_to 'Create girl', new_girl_path, method: :get, class: "small button radius"
  %h1
    Список девушек:
  %table
    - @girls.each do |girl|
      %tr
        %td
          = link_to girl.name, girl